/* html, body { height: 100%; } */

.ui-page {
    background: #013b70 url(../img/bg.png) no-repeat !important;
    width: 320px;
    min-height: 480px;
}

.ui-content {
    padding: 10px !important;
}

.page-content {
    width: 100%;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
}

.logo {
    background: url("../img/logo.png") no-repeat;
    width: 320px;
    height: 42px;
}

/* Buttons */

.ui-icon-cross {
    background: url("../img/cross.png") no-repeat !important;
    padding-left: 22px;
}

.ui-btn-inner {
    padding: 0.6em 10px !important;
    font-size: 12px;
}

.btn-cont {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.big-btn {
    background: url("../img/btn-bg.png") repeat-x !important;
    width: 100% !important;
    height: 33px !important;
    float: left;
    margin: 0 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.big-btn .ui-btn-text {
    font-size: 14px !important;
    color: #0b335c !important;
    background: url("../img/cross.png") no-repeat scroll 0px 1px transparent;
    padding-left: 19px;
    height: 14px;
}

.big-btn .ui-icon {
    display: none;
}

.no-icon .ui-btn-text {
    background: none !important;
}

/* Main menu */

.main-menu-item-cont {
    max-height: 95px;
}

.main-menu-item {
    height: 95px;
    width: 100%;
}

/* Recent transactions and transaction details */

ul#charges-list li div.list-cal {
    float: left;
    width: 60px;
    padding: 2px 2px 2px 0;
    overflow: auto;
    border-right: 1px solid #CCCCCC;
}
ul#charges-list li div.list-partial {
    float: left;
    overflow: auto;
    padding: 4px 10px;
    color: #06467C;
}
ul#charges-list li div.list-amount {
    float: right;
    margin-right: 25px;
    overflow: auto;
    padding-top: 1.25em;
    font-size: 10pt;
}
div.cal-top {
    font-size: 8pt;
    text-align: center;
}
div.cal-bot {
    font-size: 16pt;
    text-align: center;
}
div.part-name {
    font-weight: bold;
    font-size: 10pt;
    padding-top: 0.5em;
}
div.part-addr {
    font-weight: normal;
    font-size: 10pt;
    line-height: 0.9em;
}
ul#charges-list a.ui-link-inherit {
    padding: 0.3em 16px 0.3em 6px !important;
}
div.card-bits {
    background: -moz-linear-gradient(#FFF, #DDD);
    background: -webkit-linear-gradient(#FFF, #DDD);
    border-bottom: 1px solid #BBB;
    padding: 1px 0 0 0 !important;
}
div.card-bits span.card-type {
    color: #06467C;
    font-weight: bold;
    font-size: 12pt;
    padding: 15px 0 0 15px;
    margin: 0;
    line-height: 1.8em;
}
.card-info {
    float: right;
    border-left: 1px solid #CCC;
    margin: 0;
    padding: 0 0 0 10px;
}
.card-info div.ui-select {
    float: right;
    font-size: 15pt;
}

div#charge-details,
div#charge-list {
    color: white;
    text-shadow: none;
}

div#charge-list div.heading {
    text-align: center;
    font-size: 14pt;
    color: white;
}

.ui-bar-a {
    text-shadow: none !important;
}

.detail-type {
    color: #06467C;
    font-size: 8pt;
}

ul#charge-details-values li {
    padding: 8px 5px;
}
ul#charge-details-values li div.ui-grid-b {
    padding: 5px 0px;
}
ul#charge-details-values li div.double {
    width: 66.666%;
    font-size: 8pt;
}

.top-border {
    border-top: 1px solid #CCC;
}

/* Dispute confirmation */

.dispute-header {
    text-align: center;
    background: -moz-linear-gradient(top, #e11b21 0%, #a01418 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e11b21),
        color-stop(100%, #a01418) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e11b21 0%, #a01418 100%);
    color: white;
    text-shadow: none;
}

.dispute-short-msg {
    width: 70px;
    margin: 0 auto;
    height: auto;
    padding-left: 25px;
    background: url("../img/chk-icon.png") no-repeat scroll 0 -2px transparent;
}

.dispute-detailed-msg {
    color: #353535;
    font-size: 13px;
    font-weight: bold;
    float: left;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

/* Survey */

.help-msg {
    font-size: 18px;
    color: #fff;
    text-shadow: 0px -1px 0px #555;
    display: block;
    text-align: center;
    margin: 5px 0 15px 0;
    font-weight: bold;
}

.survey {
    width: 100%;
    float: left;
}

.survey p {
    color: #353535;
    font-size: 13px;
    font-weight: bold;
    float: left;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

textarea {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

ul.rating {
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 8px 6px -8px #ccc;
    -moz-box-shadow: 0 8px 6px -8px #ccc;
    box-shadow: 0 8px 6px -8px #ccc;
    list-style-type: none;
    float: left;
    padding: 0 !important;
    width: 280px;
    margin: 0;
    margin-bottom: 10px;
}

.no-bor {
    border: 0 !important;
}

.field {
    float: left;
    width: 280px;
    padding: 10px;
    border-bottom: 1px solid #cccdcd;
}

ul.rating li {
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #fff;
    background: url("../img/rating-bg.png") repeat-x;
    width: 54px;
    height: 33px;
    display: inline;
    float: left;
}

.star {
    background: url("../img/stars.png") no-repeat;
    width: 21px;
    height: 21px;
    background-position: 0 0;
    float: left;
    margin: 5px 0 5px 16px;
}

.star-act {
    background: url("../img/stars.png") no-repeat;
    width: 21px;
    height: 21px;
    background-position: -23px 0;
    float: left;
    margin: 5px 0 5px 16px;
}

.first {
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.last {
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    border-right: 0 !important;
}






